body {
    background: linear-gradient(to bottom right, #87CEEB, #ADD8E6);
}

h1 {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#operationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#operationForm label,
#operationForm select,
#operationForm input {
    margin-bottom: 10px;
}

#operationForm select,
#operationForm input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

#operationForm button {
    margin-top: 20px;
}

#addButton, #endButton, #copyCode {
    display: block;
    margin: 20px auto;
}

#generatedCode {
    text-align: left;
    margin: 0 auto;
    display: block;
}

#output {
  display: flex;
  justify-content: center;
  align-items: center;
}